<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DuAnMau.Properties.Settings.CSDL_FastFood3_tableConnectionString"
            connectionString="Data Source=LOVELYPOPPY\THUNHAT;Initial Catalog=CSDL_FastFood3_table;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>